<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot || Password</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-blue-300">
    <main class="flex justify-center items-center gap-10">
        <form action="" method="post">
            <input type="email" class="w-12 bg-blue-300 h-6" placeholder="enter your email" name="" id="">
            <input type="submit" value="send verification email">
        </form>
    </main>
</body>
</html>